In [ ]:
%%capture
! pip install yfinance
from Data_Downloader import data_accumilator

In [ ]:
import numpy as np
import pandas as pd
from collections import OrderedDict

from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Bidirectional
from keras.optimizers import RMSprop

In [ ]:
from Models import models

In [ ]:
my_models = models()

In [ ]:
my_models

[('Fixed', <function Models.simple_model(X, y, learn_rate)>),
 ('Dynamic', <function Models.dynamic_model(X, y, learn_rate)>),
 ('Bidirectional', <function Models.bidirectional_model(X, y, learn_rate)>),
 ('Stacked', <function Models.stacked_model(X, y, learn_rate)>)]

In [ ]:
nifty50 = pd.read_csv('nifty50.csv')

In [ ]:
nifty50.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,EQ,INE423A01024
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS,EQ,INE742F01042
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP,EQ,INE437A01024
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT,EQ,INE021A01026
4,Axis Bank Ltd.,Financial Services,AXISBANK,EQ,INE238A01034

In [ ]:
preprocessed_data = data_accumilator('/content', nifty50['Symbol'].sample(5))

Directory named "Stocks Data" with required data is downloaded successfully at "/content"

In [ ]:
preprocessed_data

{'CIPLA': '/content/Stocks Data/CIPLA/Normalized_CIPLA.csv',
 'RELIANCE': '/content/Stocks Data/RELIANCE/Normalized_RELIANCE.csv',
 'WIPRO': '/content/Stocks Data/WIPRO/Normalized_WIPRO.csv',
 'TATACONSUM': '/content/Stocks Data/TATACONSUM/Normalized_TATACONSUM.csv',
 'JSWSTEEL': '/content/Stocks Data/JSWSTEEL/Normalized_JSWSTEEL.csv'}

In [ ]:
my_models

[('Fixed', <function Models.simple_model(X, y, learn_rate)>),
 ('Dynamic', <function Models.dynamic_model(X, y, learn_rate)>),
 ('Bidirectional', <function Models.bidirectional_model(X, y, learn_rate)>),
 ('Stacked', <function Models.stacked_model(X, y, learn_rate)>)]

In [ ]:
from Data_Initializer import *

In [ ]:
def test_models(data_dict, epochs: int, models: dict, window_sizes: list, multi_seq:bool = False):
  #test result data
    sizes = []
    model_name = []
    tickers = []
    train_errors = []
    test_errors = []
    param_count = []

    for ticker in data_dict.keys():
        print("\n================================ NSE : {} ================================".format(ticker))
        for window_size in window_sizes:
            print("\nWindow size: {}".format(window_size))
            print('----------------')
            for model_item in models:
                data = pd.read_csv(data_dict[ticker])
                X_train,y_train,X_test,y_test = train_test_data(data, split_size = 0.2, window_size = window_size, multi_seq = multi_seq)
                model = model_item[1](X_train,y_train,0.001)
                
                # fit model!
                model.fit(X_train, y_train, epochs=epochs, batch_size=50, verbose=0)

                # print out training and testing errors
                training_error = model.evaluate(X_train, y_train, verbose=0)
                testing_error = model.evaluate(X_test, y_test, verbose=0)
                msg = " > Model: {0:<15} Param count: {1:} \tTraining error: {2:.4f}\tTesting error: {3:.4f}"
                print(msg.format(model_item[0],model.count_params(),training_error,testing_error))

                #update result variables
                param_count.append(model.count_params())
                sizes.append(window_size)
                tickers.append(ticker)
                model_name.append(model_item[0])
                train_errors.append(float("{0:.4f}".format(training_error)))
                test_errors.append(float("{0:.4f}".format( testing_error)))

    table= OrderedDict()
    table['Window Size'] = sizes
    table['Model Name'] = model_name
    table['Ticker'] = tickers
    table['Training Error'] = train_errors
    table['Testing Error'] = test_errors
    table['Param Count'] = param_count
        
    return table

In [ ]:
res = test_models(preprocessed_data, 100, my_models, window_sizes=[7,10,14,20], multi_seq=True)

================================ NSE : CIPLA ================================

Window size: 7
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0049	Testing error: 0.0767
 > Model: Dynamic         Param count: 316 	Training error: 0.0043	Testing error: 0.0330
 > Model: Bidirectional   Param count: 729 	Training error: 0.0042	Testing error: 0.0528
 > Model: Stacked         Param count: 886 	Training error: 0.0043	Testing error: 0.0454

Window size: 10
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0046	Testing error: 0.0629
 > Model: Dynamic         Param count: 571 	Training error: 0.0042	Testing error: 0.0325
 > Model: Bidirectional   Param count: 1341 	Training error: 0.0043	Testing error: 0.0466
 > Model: Stacked         Param count: 886 	Training error: 0.0052	Testing error: 0.0632

Window size: 14
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0049	Testing error: 0.0611
 > Model: Dynamic         Param count: 1023 	Training error: 0.0043	Testing error: 0.0532
 > Model: Bidirectional   Param count: 2437 	Training error: 0.0040	Testing error: 0.0709
 > Model: Stacked         Param count: 886 	Training error: 0.0042	Testing error: 0.0777

Window size: 20
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0044	Testing error: 0.0593
 > Model: Dynamic         Param count: 1941 	Training error: 0.0041	Testing error: 0.0560
 > Model: Bidirectional   Param count: 4681 	Training error: 0.0039	Testing error: 0.0540
 > Model: Stacked         Param count: 886 	Training error: 0.0045	Testing error: 0.0738

================================ NSE : RELIANCE ================================

Window size: 7
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0080	Testing error: 0.0045
 > Model: Dynamic         Param count: 316 	Training error: 0.0077	Testing error: 0.0044
 > Model: Bidirectional   Param count: 729 	Training error: 0.0070	Testing error: 0.0049
 > Model: Stacked         Param count: 886 	Training error: 0.0073	Testing error: 0.0044

Window size: 10
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0079	Testing error: 0.0043
 > Model: Dynamic         Param count: 571 	Training error: 0.0075	Testing error: 0.0049
 > Model: Bidirectional   Param count: 1341 	Training error: 0.0066	Testing error: 0.0042
 > Model: Stacked         Param count: 886 	Training error: 0.0072	Testing error: 0.0042

Window size: 14
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0078	Testing error: 0.0052
 > Model: Dynamic         Param count: 1023 	Training error: 0.0068	Testing error: 0.0041
 > Model: Bidirectional   Param count: 2437 	Training error: 0.0067	Testing error: 0.0056
 > Model: Stacked         Param count: 886 	Training error: 0.0077	Testing error: 0.0056

Window size: 20
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0076	Testing error: 0.0046
 > Model: Dynamic         Param count: 1941 	Training error: 0.0063	Testing error: 0.0051
 > Model: Bidirectional   Param count: 4681 	Training error: 0.0068	Testing error: 0.0051
 > Model: Stacked         Param count: 886 	Training error: 0.0077	Testing error: 0.0067

================================ NSE : WIPRO ================================

Window size: 7
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0040	Testing error: 0.0115
 > Model: Dynamic         Param count: 316 	Training error: 0.0034	Testing error: 0.0060
 > Model: Bidirectional   Param count: 729 	Training error: 0.0036	Testing error: 0.0065
 > Model: Stacked         Param count: 886 	Training error: 0.0035	Testing error: 0.0042

Window size: 10
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0044	Testing error: 0.0119
 > Model: Dynamic         Param count: 571 	Training error: 0.0031	Testing error: 0.0045
 > Model: Bidirectional   Param count: 1341 	Training error: 0.0030	Testing error: 0.0040
 > Model: Stacked         Param count: 886 	Training error: 0.0036	Testing error: 0.0054

Window size: 14
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0041	Testing error: 0.0112
 > Model: Dynamic         Param count: 1023 	Training error: 0.0032	Testing error: 0.0036
 > Model: Bidirectional   Param count: 2437 	Training error: 0.0030	Testing error: 0.0072
 > Model: Stacked         Param count: 886 	Training error: 0.0034	Testing error: 0.0056

Window size: 20
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0044	Testing error: 0.0091
 > Model: Dynamic         Param count: 1941 	Training error: 0.0029	Testing error: 0.0077
 > Model: Bidirectional   Param count: 4681 	Training error: 0.0033	Testing error: 0.0081
 > Model: Stacked         Param count: 886 	Training error: 0.0035	Testing error: 0.0073

================================ NSE : TATACONSUM ================================

Window size: 7
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0061	Testing error: 0.0050
 > Model: Dynamic         Param count: 316 	Training error: 0.0063	Testing error: 0.0050
 > Model: Bidirectional   Param count: 729 	Training error: 0.0061	Testing error: 0.0048
 > Model: Stacked         Param count: 886 	Training error: 0.0060	Testing error: 0.0050

Window size: 10
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0058	Testing error: 0.0045
 > Model: Dynamic         Param count: 571 	Training error: 0.0056	Testing error: 0.0048
 > Model: Bidirectional   Param count: 1341 	Training error: 0.0053	Testing error: 0.0048
 > Model: Stacked         Param count: 886 	Training error: 0.0058	Testing error: 0.0049

Window size: 14
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0065	Testing error: 0.0051
 > Model: Dynamic         Param count: 1023 	Training error: 0.0056	Testing error: 0.0046
 > Model: Bidirectional   Param count: 2437 	Training error: 0.0058	Testing error: 0.0050
 > Model: Stacked         Param count: 886 	Training error: 0.0058	Testing error: 0.0048

Window size: 20
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0059	Testing error: 0.0046
 > Model: Dynamic         Param count: 1941 	Training error: 0.0054	Testing error: 0.0058
 > Model: Bidirectional   Param count: 4681 	Training error: 0.0054	Testing error: 0.0057
 > Model: Stacked         Param count: 886 	Training error: 0.0060	Testing error: 0.0072

================================ NSE : JSWSTEEL ================================

Window size: 7
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0048	Testing error: 0.0147
 > Model: Dynamic         Param count: 316 	Training error: 0.0046	Testing error: 0.0132
 > Model: Bidirectional   Param count: 729 	Training error: 0.0042	Testing error: 0.0110
 > Model: Stacked         Param count: 886 	Training error: 0.0053	Testing error: 0.0120

Window size: 10
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0048	Testing error: 0.0117
 > Model: Dynamic         Param count: 571 	Training error: 0.0043	Testing error: 0.0097
 > Model: Bidirectional   Param count: 1341 	Training error: 0.0047	Testing error: 0.0086
 > Model: Stacked         Param count: 886 	Training error: 0.0044	Testing error: 0.0138

Window size: 14
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0046	Testing error: 0.0138
 > Model: Dynamic         Param count: 1023 	Training error: 0.0042	Testing error: 0.0081
 > Model: Bidirectional   Param count: 2437 	Training error: 0.0043	Testing error: 0.0099
 > Model: Stacked         Param count: 886 	Training error: 0.0048	Testing error: 0.0219

Window size: 20
----------------
 > Model: Fixed           Param count: 186 	Training error: 0.0046	Testing error: 0.0102
 > Model: Dynamic         Param count: 1941 	Training error: 0.0043	Testing error: 0.0108
 > Model: Bidirectional   Param count: 4681 	Training error: 0.0038	Testing error: 0.0082
 > Model: Stacked         Param count: 886 	Training error: 0.0047	Testing error: 0.0171

In [ ]:
pd.pivot_table(res, values = ['Training Error', 'Testing Error'], index=['Window Size'])

AttributeError: ignored

In [ ]:
res['Ticker']

['CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'CIPLA',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'RELIANCE',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'WIPRO',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'TATACONSUM',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL',
 'JSWSTEEL']

In [ ]:
df = pd.read_csv('Normalized_UPL.csv')

In [ ]:
df.head(10)

   normal_close  normal_mfi  normal_returns
0     -0.400130    0.956538        0.259899
1     -0.491737    0.764949       -0.311530
2     -0.381392    0.831014        0.548611
3     -0.453741    0.648581       -0.226466
4     -0.499545    0.461016       -0.118129
5     -0.524528    0.469399       -0.029688
6     -0.662720    0.320024       -0.540911
7     -0.495120    0.447252        0.827687
8     -0.537020    0.534004       -0.103735
9     -0.590111    0.455292       -0.156450

In [ ]:
m1,m2,m3,m4 = train_test_data(df, split_size = 0.3, window_size = 5, multi_seq = True)

In [ ]:
m1.shape[1:]

(5, 3)

In [ ]:
m1[1]

array([[-0.49173709,  0.76494917, -0.31152977],
       [-0.38139203,  0.83101408,  0.5486111 ],
       [-0.45374124,  0.64858073, -0.22646629],
       [-0.49954473,  0.46101643, -0.11812922],
       [-0.52452807,  0.46939903, -0.02968832]])

In [ ]:
m1.shape

(334, 5, 3)